.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 95px 50px;
  padding-bottom: 91px;
}

.edges-font {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.01em;
}

.no_underline {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  text-underline-position: under;
}

.circle-list {
  list-style-type: circle;
}

.no_style {
  list-style-type: none;
}

.logo_header {
  justify-self: center;
  align-self: center;
}

.address {
  width: 240px;
  justify-self: end;
  align-self: center;
  text-underline-position: under;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.cover-title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-transform: uppercase;
}

.cover-title-font {
  font-size: 100px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

.cover-title-start {
  display: block;
  text-align: left;
  line-height: 1.15;
}

.cover-title-mid {
  display: block;
  text-align: center;
  line-height: 1.32;
}

.cover-title-end {
  display: block;
  text-align: right;
  line-height: 1;
}

.remove-spacing {
  letter-spacing: normal;
}

.letter-space-mid {
  letter-spacing: 30px;
}

.letter-space-big {
  letter-spacing: 60px;
}

.cover-bottom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 135px 0 0;
}

.cover-bottom-font {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  line-height: 28px;
}

.word-space-big {
  word-spacing: 0.8em;
  letter-spacing: normal;
}

.word-space-bigger {
  word-spacing: 0.9em;
}

.letter-space-biggest {
  letter-spacing: 1.1em;
}

.cover-button {
  background: transparent;
  color: white;
  font-family: Raleway, sans-serif;
  border: 1px;
  border-color: white;
  border-style: solid;
  height: 51px;
  width: 256px;
}

.lots {
  width: 100%;
  padding: 182px 24px 146px 24px;
}

.lot-title {
  padding-left: 40px;
  padding-bottom: 27px;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 334px;
  min-height: 563px;
  /*  padding-top: 27px; */
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
}

.card-link {
  display: block;
  height: 100%;
}

.card-title {
  position: relative;
  z-index: 1;
  padding-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.card-text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2em;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding-bottom: 29px;
}

.lot-more {
  font-size: 20px;
  text-underline-position: under;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 383px 2fr;
}

.about-column {
  padding-left: 71px;
  padding-top: 37px;
}

.about-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.card-letter-space {
  letter-spacing: 0.13em;
}

.about-image {
  width: 148px;
  height: 114px;
}

.about-title {
  padding-top: 138px;
  padding-bottom: 100px;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
}

.about-ls-lowest {
  letter-spacing: -0.01em;
}

.about-ls-lower {
  letter-spacing: 0.01em;
}

.about-ls-low {
  letter-spacing: 0.02em;
}

.about-ls-lowt {
  letter-spacing: 0.03em;
}

.about-ls-lowf {
  letter-spacing: 0.04em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 88px;
  padding-top: 157px;
}

.address-start {
  justify-self: start;
  width: 290px;
  padding-left: 50px;
}

.footer-menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  text-underline-position: under;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  justify-self: right;
  padding-right: 50px;
}

.social-image {
  width: 48px;
  height: 48px;
}
